@font-face {
    font-family: 'Gilroy';
    src: url("");
    src: url("Gilroy-Bold.eot") format('embedded-opentype'),
        url("Gilroy-Bold.woff") format('woff'),
        url("Gilroy-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url("");
    src: url("Gilroy-Regular.eot") format('embedded-opentype'),
        url("Gilroy-Regular.woff") format('woff'),
        url("Gilroy-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url("");
    src: url("Gilroy-Light.eot") format('embedded-opentype'),
        url("Gilroy-Light.woff") format('woff'),
        url("Gilroy-Light.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 769px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.row--align-c {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.row--align-e {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.row--stretch {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.row--space-b {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.row--space-a {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.row--center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.row--wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.row--m {
    margin-left: -15px;
    margin-right: -15px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.row--hide {
    display: none;
}

.cols {
    padding: 0 15px;
}

.hide {
    display: none;
}

.cols-1 {
    width: 8.33333%;
}

.cols-2 {
    width: 16.66667%;
}

.cols-3 {
    width: 25%;
}

.cols-4 {
    width: 33.33333%;
}

.cols-5 {
    width: 41.66667%;
}

.cols-6 {
    width: 50%;
}

.cols-7 {
    width: 58.33333%;
}

.cols-8 {
    width: 66.66667%;
}

.cols-9 {
    width: 75%;
}

.cols-10 {
    width: 83.33333%;
}

.cols-11 {
    width: 91.66667%;
}

.cols-12 {
    width: 100%;
}

@media (max-width: 1200px) {
    .cols-lg-1 {
        width: 8.33333%;
    }
    .cols-lg-2 {
        width: 16.66667%;
    }
    .cols-lg-3 {
        width: 25%;
    }
    .cols-lg-4 {
        width: 33.33333%;
    }
    .cols-lg-5 {
        width: 41.66667%;
    }
    .cols-lg-6 {
        width: 50%;
    }
    .cols-lg-7 {
        width: 58.33333%;
    }
    .cols-lg-8 {
        width: 66.66667%;
    }
    .cols-lg-9 {
        width: 75%;
    }
    .cols-lg-10 {
        width: 83.33333%;
    }
    .cols-lg-11 {
        width: 91.66667%;
    }
    .cols-lg-12 {
        width: 100%;
    }
}

@media (max-width: 991px) {
    .cols-md-1 {
        width: 8.33333%;
    }
    .cols-md-2 {
        width: 16.66667%;
    }
    .cols-md-3 {
        width: 25%;
    }
    .cols-md-4 {
        width: 33.33333%;
    }
    .cols-md-5 {
        width: 41.66667%;
    }
    .cols-md-6 {
        width: 50%;
    }
    .cols-md-7 {
        width: 58.33333%;
    }
    .cols-md-8 {
        width: 66.66667%;
    }
    .cols-md-9 {
        width: 75%;
    }
    .cols-md-10 {
        width: 83.33333%;
    }
    .cols-md-11 {
        width: 91.66667%;
    }
    .cols-md-12 {
        width: 100%;
    }
    .row--md-reverse {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .row--show-md {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .hide-md {
        display: none;
    }
    .show-md {
        display: block;
    }
}

@media (max-width: 768px) {
    .cols-sm-1 {
        width: 8.33333%;
    }
    .cols-sm-2 {
        width: 16.66667%;
    }
    .cols-sm-3 {
        width: 25%;
    }
    .cols-sm-4 {
        width: 33.33333%;
    }
    .cols-sm-5 {
        width: 41.66667%;
    }
    .cols-sm-6 {
        width: 50%;
    }
    .cols-sm-7 {
        width: 58.33333%;
    }
    .cols-sm-8 {
        width: 66.66667%;
    }
    .cols-sm-9 {
        width: 75%;
    }
    .cols-sm-10 {
        width: 83.33333%;
    }
    .cols-sm-11 {
        width: 91.66667%;
    }
    .cols-sm-12 {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .row--m {
        margin-left: -7px;
        margin-right: -7px;
    }
    .cols {
        padding: 0 7px;
    }
    .cols-xs-1 {
        width: 8.33333%;
    }
    .cols-xs-2 {
        width: 16.66667%;
    }
    .cols-xs-3 {
        width: 25%;
    }
    .cols-xs-4 {
        width: 33.33333%;
    }
    .cols-xs-5 {
        width: 41.66667%;
    }
    .cols-xs-6 {
        width: 50%;
    }
    .cols-xs-7 {
        width: 58.33333%;
    }
    .cols-xs-8 {
        width: 66.66667%;
    }
    .cols-xs-9 {
        width: 75%;
    }
    .cols-xs-10 {
        width: 83.33333%;
    }
    .cols-xs-11 {
        width: 91.66667%;
    }
    .cols-xs-12 {
        width: 100%;
    }
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 100%;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.btn {
    display: inline-block;
    padding: 14px 32px;
    border-radius: 25px;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.18px;
    cursor: pointer;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    text-decoration: none;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.btn--active {
    color: #fefefe;
    background-color: #ffd230;
    border: 2px solid #ffd230;
}
.btn--active:hover {
    color: #ffd230;
    border: 2px solid #ffd230;
    background: #fff;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.main-content {
    padding-top: 25px;
}

.main-content-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.sidebar {
    width: 310px;
}
.sidebar ul {
    list-style: none;
}
.sidebar ul li {
    margin-bottom: 1px;
}
.sidebar ul a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    min-height: 57px;
    padding: 10px 40px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #ebf4fb;
    color: #494949;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.18px;
}
.sidebar ul a:hover {
    color: #3691d7;
}

.content {
    width: calc(100% - 330px);
    padding-left: 20px;
}

.header {
    color: #333333;
    font-family: Gilroy;
}

.header-top {
    padding: 14px 0;
    font-size: 13px;
    font-weight: 300;
    background-color: #fafafa;
}

.ht-menu {
    list-style: none;
}
.ht-menu li {
    display: inline;
    margin-right: 30px;
}
.ht-menu a {
    font-family: Gilroy;
    color: #333;
    letter-spacing: 0.13px;
}
.ht-menu a:hover {
    color: #3691d7;
}

.header-main {
    padding: 12px 0 25px;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.15px;
}
.header-main__m {
    margin-top: 10px;
}

.logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.logo__img {
    max-width: 100%;
}

.logo-text {
    color: #a2a2a2;
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.13px;
}

.calc-link {
    margin-top: 10px;
}

.phone-link {
    display: inline-block;
    margin-bottom: 5px;
    color: #3691d7;
    font-family: Gilroy;
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0.3px;
}

.callback-link {
    display: inline-block;
    margin-top: 5px;
    color: #3691d7;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-decoration: underline;
    letter-spacing: 0.18px;
}
.callback-link:hover {
    color: #3691d7;
    text-decoration: none;
}

.header-menu {
    background-color: #3691d7;
}

.main-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
.main-menu > li.menu-item-has-children:last-of-type {
    background-color: red;
}
.main-menu li.menu-item-has-children > a {
    padding-right: 54px;
    position: relative;
}
.main-menu li.menu-item-has-children > a::after {
    content: '';
    width: 7px;
    height: 7px;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
    position: absolute;
    top: 20px;
    right: 40px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.main-menu li {
    position: relative;
}
.main-menu li:hover > ul {
    display: block;
}
.main-menu > li {
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
}
.main-menu > li.menu-item-has-children > a {
    padding-right: 0;
}
.main-menu > li.menu-item-has-children > a::after {
    display: none;
}
.main-menu > li:hover > a {
    background-color: #1577c2;
}
.main-menu > li > a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 57px;
    color: #ffffff;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.18px;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
.main-menu > li.last-sub > ul {
    top: 100%;
    left: auto;
    right: 0;
}
.main-menu > li > ul > li ul {
    top: 0;
    left: 100%;
}
.main-menu ul {
    display: none;
    list-style: none;
    position: absolute;
    -webkit-box-shadow: 0 0 20px 2px rgba(16, 77, 124, 0.05);
    box-shadow: 0 0 20px 2px rgba(16, 77, 124, 0.05);
    min-width: 100%;
    z-index: 100;
    background-color: #fff;
}
.main-menu ul li:hover > a {
    color: #3691d7;
}
.main-menu ul li:hover > a::after {
    border-color: #3691d7;
}
.main-menu ul a {
    display: inline-block;
    padding: 13px 42px;
    width: 100%;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.18px;
    border-bottom: 1px solid #d7e9f7;
    white-space: nowrap;
    color: #333;
}

.back-item {
    display: none;
}

.menu-btn {
    display: none;
    background-color: #3691d7;
    width: 23px;
    height: 30px;
    border-radius: 10px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    outline: none;
    border: none;
}
.menu-btn__icon {
    display: block;
    width: 23px;
    height: 4px;
    background-color: #fff;
    border-radius: 2px;
    position: relative;
}
.menu-btn__icon::before,
.menu-btn__icon::after {
    content: '';
    width: 23px;
    height: 4px;
    background-color: #fff;
    position: absolute;
    left: 0;
    border-radius: 2px;
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
}
.menu-btn__icon::before {
    top: -6px;
}
.menu-btn__icon::after {
    bottom: -6px;
}
.menu-btn.active .menu-btn__icon {
    background-color: #3691d7;
}
.menu-btn.active .menu-btn__icon::before {
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.menu-btn.active .menu-btn__icon::after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.popup {
    max-width: 500px;
    box-shadow: 0 0 31px 5px rgba(71, 71, 71, 0.02);
    border-radius: 10px;
    background-color: #ffffff;
    margin: 0 auto;
    background: #fff;
    border-radius: 8px;
    padding: 70px 65px 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

.popup__title {
    margin-bottom: 30px;
    color: #474747;
    font-family: Gilroy;
    font-size: 20px;
    font-weight: 700;
    line-height: 59px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    line-height: normal;
}

.popup .wpcf7-response-output {
    margin: 0;
}

.form-input {
    padding: 10px 20px !important;
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
    border-radius: 0;
    background-color: #ebf4fb !important;
    border: none !important;
    color: #131313;
}

.form-submit {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 30px auto 0;
    width: 230px;
    height: 50px;
    border-radius: 25px;
    background-color: #ffd230;
    color: #fefefe;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.18px;
    border: none;
    cursor: pointer;
}
.form-submit:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.check {
    position: relative;
    text-align: left;
    color: #474747;
    font-family: Gilroy;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}

.check.active .check__label::after {
    display: block;
}

.check__input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    z-index: -9999;
}

.check__label {
    position: relative;
    display: block;
    padding-left: 26px;
    line-height: 18px;
    cursor: pointer;
}

.check__label a {
    color: #474747;
    text-decoration: underline;
}
.check__label a:hover {
    color: #474747;
    text-decoration: none;
}

.check__label::before,
.check__label::after {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 18px;
    height: 18px;
    border-radius: 3px;
}

.check__label::before {
    background-color: #ebf4fb;
}
.check__label::after {
    display: none;
    background: url("check.png") no-repeat center;
    background-size: 70%;
}
@media (max-width: 1200px) {
    .btn {
        padding: 10px 20px;
        font-size: 16px;
    }
    .phone-link {
        font-size: 24px;
    }
    .callback-link {
        font-size: 16px;
    }
}

@media (max-width: 991px) {
    .header-top {
        display: none;
    }
    .header-menu {
        padding: 10px;
        position: relative;
    }
    .menu-btn {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .main-menu {
        display: none;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 100;
    }
    .main-menu li {
        position: static;
        border-bottom: 1px solid #d7e9f7;
        background-color: #fff;
    }
    .main-menu li > ul {
        display: none;
    }
    .main-menu li:hover > a {
        background-color: #fff;
        color: #3691d7;
    }
    .main-menu li:hover > ul {
        display: none;
    }
    .main-menu li.active > ul {
        display: block;
    }
    .main-menu a {
        max-width: 720px;
        margin: 0 auto;
        padding: 0 15px;
        color: #333 !important;
        -webkit-box-pack: start !important;
        -webkit-justify-content: flex-start !important;
        -ms-flex-pack: start !important;
        justify-content: flex-start !important;
    }
    .main-menu > li > a {
        height: auto;
        padding: 13px 15px;
        font-size: 16px;
        line-height: 20px;
    }
    .main-menu > li.menu-item-has-children > a {
        padding-right: 40px;
    }
    .main-menu > li.menu-item-has-children > a::after {
        display: block;
    }
    .main-menu > li.last-sub > ul {
        top: 0;
        right: 0;
        left: 100%;
    }
    .main-menu > li > ul {
        top: 0;
        left: 100%;
        right: 0;
    }
    .main-menu ul {
        min-height: 100%;
    }
    .main-menu ul a {
        display: block;
        margin: 0 auto;
        max-width: 720px;
        padding: 13px 15px;
        text-align: left;
        border-bottom: none;
        white-space: normal;
    }
    .back-item {
        display: block;
    }
    .back-item a {
        padding-left: 35px !important;
        color: #3691d7 !important;
        position: relative;
    }
    .back-item a::after {
        content: '';
        width: 7px;
        height: 7px;
        border-top: 2px solid #3691d7;
        border-right: 2px solid #3691d7;
        position: absolute;
        top: 20px;
        left: 20px;
        -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }
    .sidebar {
        display: none;
    }
    .content {
        width: 100%;
        padding-left: 0;
    }
}

@media (max-width: 768px) {
    .logo-text {
        display: none;
    }
    .callback-link {
        display: none;
    }
    .header-top {
        display: none;
    }
    .header-main__m {
        margin-top: 0;
    }
    .phone-link {
        margin-bottom: 0;
    }
}

@media (max-width: 576px) {
    .header-main {
        font-size: 12px;
    }
    .phone-link {
        font-size: 17px;
        line-height: 18px;
    }

    .popup {
        padding: 30px 20px 10px;
    }
}

/*# sourceMappingURL=style.css.map */
